.profileDashboard {
    background-color: #fff;
    width: 100%;
    margin: 10px auto;
    display: flex;
    height: 90vh;
   
}

.profileDashboard .container {
    display: flex;
    width: 100%;
}

.container .sidebar {
    flex-basis: 30%;
    justify-content: flex-start;
    padding: 10px;
    background: #714cb64a;
} 
.container .content {
    flex-basis: 70%;
    justify-content: flex-start;
} 